{% macro btn(title, class = false, url) %}
    {% if class == true %}
        <a class="btn btn-primary" href="/anime-series/{{ url }}">{{ title }}</a>
    {% elseif title == "Картинка" %}
        <a class="btn btn-link" href="/anime-series/{{ url }}/image">{{ title }}</a>
    {% elseif title == "Описание" %}
    <a class="btn btn-link" href="/anime-series/{{ url }}/info">{{ title }}</a>
    {% endif %}
{% endmacro %}