{% macro btnImg(title, object_type, ObjectID) %}
    {% if object_type == "image" %}
        <a class="btn btn-primary" href="{{ ObjectID }}?show=image">{{ title }}</a>
    {% else %}
        <a class="btn btn-link" href="{{ ObjectID }}?show=image">{{ title }}</a>
    {% endif %}
{% endmacro %}

{% macro btnInf(title, object_type, ObjectID) %}
    {% if object_type == "info" %}
        <a class="btn btn-primary" href="{{ ObjectID }}?show=info">{{ title }}</a>
    {% else %}
        <a class="btn btn-link" href="{{ ObjectID }}?show=info">{{ title }}</a>
    {% endif %}
{% endmacro %}