{% extends "__layout.twig" %}

{% block content %}
{% import "__button_macro.twig" as forms %}

<div>
  <h3>Сообщение из сессии: {{ my_session_message }}</h3>
  <br>
  <h3>Последнии сообщения: </h3>
  {% for m in messages %}
    {{ m }} <br>
  {% endfor %}
</div>
<hr>

  <div class="pt-2">
    <h2>{{ title }}</h2>
    <br>
    <p>{{ description }}</p>
  </div>

  <div>
    <ul class="nav nav-pills">
      <li class="nav-item p-1">
        {{ forms.btnImg('Картинка', object_type, ObjectID) }}
      </li>
      <li class="nav-item p-1">
        {{ forms.btnInf('Описание', object_type, ObjectID) }}
      </li>
    </ul>
  </div>

  {# Тут решаем, что выводить #}
  {# по хорошему стоило бы оживить как-то шаблоны, но как Q_Q #}

  {% if object_type == "image"%}
    <li class="list-group-item mt-2">
      <img src="{{ img }}" style="width: 300px;" alt=""/>
    </li>
  {% endif %}

  {% if object_type == "info"%}
    <li class="list-group-item mt-2">
      <p>{{ info }}</p>
    </li>
  {% endif %}

  {% block objContent %}
  
  {% endblock %}
  
{% endblock %}