{% extends "__layout.twig" %}

{% block content %}
{% import "__button_macro.twig" as forms %}

  <div class="pt-2">
    <p>{{ description }}</p>
  </div>

  <div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class = "btn btn-link" href="/anime-series/{{ ObjectID }}/image">Картинка</a>
        <!-- {{ forms.btn('Картинка', img_active, ObjectID) }} -->
      </li>
      <li class="nav-item">
        <a class = "btn btn-link" href="/anime-series/{{ ObjectID }}/info">Описание</a>
        <!-- {{ forms.btn('Описание', info_active, ObjectID) }} -->
      </li>
    </ul>
  </div>

  {% block objContent %}
  
  {% endblock %}
  
{% endblock %}