{% extends "__layout.twig" %}

{% block content %}
    <h1>Редактирование</h1>
    <hr>

    {% if message %}
    <div class="alert alert-info">
        {{ message }}
        <a href="/anime-series/{{ id }}">Открыть страницу</a>
    </div>
    {% endif %}
    
    <form action="" method="POST" enctype="multipart/form-data" class="row g-3">
        <div class="col-4">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" name="title" value="{{ object.title }}">
        </div>
        <div class="col-4">
            <label class="form-label">Краткое описание</label>
            <input type="text" class="form-control" name="description" value="{{ object.info }}">
        </div>
        <div class="col-4">
            <label class="form-label">Тип</label>
            <select name="type" class="form-select">
                {% for type in anime_type %}
                    <option value="{{ type.type_name }}">{{ type.type_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Картинка</label>
            <input type="file" class="form-control" name="image">
        </div>

        <div class="col-12">
            <textarea name="info" placeholder="Полное описание..." class="form-control" rows="5">{{ object.info }}</textarea>
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Редактировать</button>
        </div>
    </form>

{% endblock %}